<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Home</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-card text-center>
    <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    <ion-card-content>
      <ion-card-title>
        <span translate>Hello world !</span>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </p>
    </ion-card-content>
  </ion-card> -->
  <ion-card id="home-card">
    <app-groups-listing></app-groups-listing>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div nz-row nzType="flex" nzJustify="left" nzAlign="middle">
      <div nz-col nzSpan="3" nzOffset="1">
        <button nz-button nzType="primary" nzShape="circle" nzGhost (click)="deviceModalService.createNewGroupModal()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </div>
      <div nz-col nzSpan="20">
        <ion-label color="primary">Add Group</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
